#!/usr/bin/env python
import pika

userid = 'test'
password = '{{ rabbitmq_pass }}'
cred = pika.PlainCredentials(userid, password)
vhost = 'tesonet'
connection = pika.BlockingConnection(
    pika.ConnectionParameters(host='localhost', port=5672, virtual_host=vhost, credentials=cred))
channel = connection.channel()
channel.exchange_declare(exchange='test', exchange_type='direct')

# queue expires after 3600s
hold_queue_arguments = { "x-expires": 3600000 }
print('declaring queue with TTL 3600.')
channel.queue_declare(queue='test', exclusive=False,arguments=hold_queue_arguments)
print('binding test exchange to test queue.')
channel.queue_bind(exchange='test', queue='test')
def callback(ch, method, properties, body):
    if body == 'finish':
      raise KeyboardInterrupt
    else:
      print(" [x] OK Received %r" % body)

channel.basic_consume(callback,queue='test',no_ack=True)
print(' [*] Waiting for messages. To exit press CTRL+C')

try:
   channel.start_consuming()
except KeyboardInterrupt:
   channel.stop_consuming()
   connection.close()
