#!/usr/bin/env python
import pika
from time import sleep

userid = 'test'
password = '{{ rabbitmq_pass }}'
cred = pika.PlainCredentials(userid, password)
vhost = 'tesonet'
connection = pika.BlockingConnection(
            pika.ConnectionParameters(host='localhost', port=5672, virtual_host=vhost, credentials=cred))
channel = connection.channel()
channel.exchange_declare(exchange='test', exchange_type='direct')
for x in range(4):
  sleep(2)
  if x == 3:
    msg = 'finish'
  else:
    msg = 'Hello Tesonet!'
  channel.basic_publish(exchange='test', routing_key='test', body=msg)
#  print( x, "Sent", msg)
connection.close()
